.viewPostButton {
    width: 260px;
    background-color: var(--yellow-500);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--gray-700);
}